{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
<div class="content-wrapper">
    <h1>Liste des films</h1>

    <div class="film-container">
        <div class="film-carousel">
            <div class="film-carousel-container">
                {% for film in films %}
                    <a href="{{ path('film_show', {'id': film.id}) }}" class="film-item">
                        <img src="{{ film.getImage() }}" alt="{{ film.getNom() }}">
                        <h2>{{ film.getNom() }}</h2>
                        <p>Durée : {{ film.getDuree() }} minutes</p>
                        <p>Note générale : {{ film.getNoteGenerale() }} / 10</p>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="film-list">
            <ul>
                {% for film in films %}
                    <li>
                        <img src="{{ film.getImage() }}" alt="{{ film.getNom() }}">
                        <div class="film-info">
                            <h3>{{ film.getNom() }}</h3>
                            <p>Durée : {{ film.getDuree() }} minutes</p>
                            <p>Description : {{ film.getDescription() }}</p>
                            <p>Note générale : {{ film.getNoteGenerale() }} / 10</p>
                            <p>Personnages : 
                                {% for personnage in film.getPersonnages() %}
                                    <a href="{{ path('personnage_detail', {'id': personnage.id}) }}">
                                        {{ personnage.getNom() }} {{ personnage.getPrenom() }}
                                    </a>{% if not loop.last %}, {% endif %}
                                {% else %}
                                    Aucun personnage trouvé
                                {% endfor %}
                            </p>
                        </div>
                        <button class="like-button">Like</button>
                    </li>
                {% else %}
                    <li>Aucun film trouvé</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
