{# templates/film/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Durée</th>
                <th>Description</th>
                <th>Note générale</th>
                <th>Personnages</th>  {# Titre de la colonne pour afficher les personnages #}
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
                <tr>
                    <td><img src="{{ film.getImage() }}" alt="{{ film.getNom() }}" width="100"></td>
                    <td>{{ film.getNom() }}</td>
                    <td>{{ film.getDuree() }} minutes</td>
                    <td>{{ film.getDescription() }}</td>
                    <td>{{ film.getNoteGenerale() }} / 10</td>  {# Affiche la note générale du film #}
                    <td>
                        {% for personnage in film.getPersonnages() %}
                            <a href="{{ path('personnage_detail', {'id': personnage.id}) }}">
                                {{ personnage.getNom() }} {{ personnage.getPrenom() }}
                            </a>{% if not loop.last %}, {% endif %}
                        {% else %}
                            Aucun personnage trouvé
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun film trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
