{# templates/film/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ film.nom }}{% endblock %}

{% block body %}
    <h1>{{ film.nom }}</h1>
    <td><img src="{{ film.getImage() }}" alt="{{ film.getNom() }}" width="100"></td>
    <p>{{ film.description }}</p>
    <p>Durée : {{ film.duree }} minutes</p>
    <p>Note générale : {{ film.noteGenerale }} / 10</p>
{% endblock %}
