{# templates/film/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ film.nom }}{% endblock %}

{% block body %}
    <div class="film-details">
        <h1>{{ film.nom }}</h1>
        <div class="film-details-container">
            <img src="{{ film.getImage() }}" alt="{{ film.getNom() }}" class="film-image" style="width: 300px; height: 450px; object-fit: cover;">
            <div class="film-info">
                <p><strong>Description :</strong> {{ film.description }}</p>
                <p><strong>Durée :</strong> {{ film.duree }} minutes</p>
                <p><strong>Note générale :</strong> {{ film.noteGenerale }} / 10</p>
                <button class="like-button">Like</button>
            </div>
        </div>
    </div>
{% endblock %}
